
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

>
<div class="container" style="margin-top:150px">

    <img src="~/Content/images/ProductImages/LienHe.jpg" /> <span style="font-size: 2em; color: red; animation: blink 1s infinite;">
        Liên Hệ Ngay
    </span>




</div>

