@model IEnumerable<QL_BanDoTreEm.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCategories.cshtml";
}


<div class="row">
    <div>
        <form action="/AutoComplete/Index">

            <input style="padding: 1px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px; background-color: #f5f5f5;" onfocus="this.style.outline='none'; this.style.borderColor='#66afe9'; this.style.boxShadow='0 0 5px rgba(102, 175, 233, 0.6)';" onblur="this.style.borderColor='#ccc'; this.style.boxShadow='';" type="search" id="search" name="search" placeholder="Search..." />
            <input type="submit" class="btn btn-primary" value="Search" />

        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-3" style="margin-bottom:50px">
            <div class="product product_filter">
                <a href="~/TRANGCHU/Details/@item.ID_SANPHAM">
                    <div class="product_image">

                        <img src="~/Content/images/ProductImages/@(item.HINHANH+".jpg")">
                    </div>
                    <div class="favorite favorite_left"></div>
                    <div class="product_info">
                        <h6 class="product_name" style="min-height:60px"><a href="~/TRANGCHU/Details/@item.ID_SANPHAM">@item.TENSANPHAM</a></h6>
                        <div class="product_price">@(item.DONGIABAN+".000đ")</div>
                        <button class="btn-danger" style="width:100%; border:none" onclick="themVaoGioHang('@item.ID_SANPHAM')">Thêm vào giỏ hàng</button>

                    </div>

                </a>
            </div>

        </div>

    }
</div>
<script>
    function themVaoGioHang(input) {
        var masp = input;

            $.ajax({
            url: '@Url.Action("InsertShoppingCard", "GIOHANG")',
            type: 'GET',
            data: { maSP: masp },
            success: function (data) {
                if (data == 'True') {
                    alert('Thêm sản phẩm vào giỏ hàng thành công');
                }
                else {
                    alert('Vui lòng đăng nhập');
                }

            },
            error: function (ex) {
                alert('Error occurred: ' + ex.responseText);
            }
        });
    }
</script>

